@media(max-width: 1400px) {
	.accessories__items {
		flex-direction: column;
		justify-content: center;
	}
	.accessories__items, .accessories__right-top, .accessories__right-bot {
    	display: flex;
    	justify-content: space-around;
    	margin-top: 40px;
	}
	.accessories__left {
	    margin: 0 auto;
	}
	.accessories__right {
		width: 100%;
	}
}
@media (max-width: 1200px){
	.container{
		max-width: 1000px;
		margin: 0 auto;
	}
	.dispnone {
		display: none;
	}
	.slider__swarowski{
    	padding-top: 150px;
  	}
	.top__container {
    	display: flex;
    	justify-content: space-between;
    	padding: 30px 0;
	}
	.header__logo {
	    width: 40%;
	    display: flex;
	    align-items: center;
	}
	.slider__logo img{
		width: 50%;
		margin: 0 auto;
	}
	.slider__text{
		font-size: 30px;
		margin-top: 20px;
	}
	.bot__container {
    	padding: 20px 0;
	}
	.menu__item{
		font-size: 14px;
	}
	.new-collection__container{
		padding: 50px 0;
	}
	.title__cards{
		margin-bottom: 30px;
	}
	.title__cards {
		font-size: 40px;
	}
	.new-collection__title::before{
		font-size: 55px;
	}
	.card{
		padding: 30px 30px 15px 30px;
	}
	.new-collection__desc {
		margin: 20px 0;
		font-size: 16px;
	}
	.jewerly__container{
		padding: 50px 0;
	}
	.jewerly__title::before{
		font-size: 55px;
	}
	.jewerly__desc{
		padding: 20px 40px;
		font-size: 16px;
	}
	.sale__container{
		padding: 50px 0;
	}
	.sale__title::before{
		font-size: 55px;
	}
	.sale__desc{
		font-size: 16px;
		padding: 20px 40px;
	}
	.clock__container{
		padding: 50px 0;
	}
	.clock__title::before{
		font-size: 55px;
	}
	.clock__desc{
		font-size: 16px;
		padding: 20px 0;
	}
	.accessories__title::before{
		font-size: 55px;
	}
	.accessories__right {
		width: 100%;
	}
	.accessories__items {
		flex-direction: column;
	}
	.left__image {
	    display: flex;
	    justify-content: center;
	    max-width: 500px;
		margin: 0 auto;
	}
	/*.left__image img {
		width: 60%;
	}*/
	.left__text,
	.accessroies__eyes p,
	.accessories__hands p,
	.accessories__ear p {
		font-size: 55px;
	}
	.accessories__container{
		padding: 50px 0;
	}
	.accessories__right-top{
		margin-top: 30px;
		justify-content: space-around;
	}
	.accessories__right-bot{
		justify-content: space-around;
	}
	.accessories__view{
		margin-left: 0;
	}
	.accessories__right-bot{
		margin-top: 30px;
	}
	.accessories__right-top::after{
		bottom: -17px;
	}

	.decorations__container{
		padding: 50px 0;
	}
	.decoration__item{
		padding: 20px 40px;
	}
	.decorations__desc{
		font-size: 16px;
		margin-top: 32px;
		margin-bottom: 22px;
	}
	.decorations__title::before{
		font-size: 55px;
	}
	.home__container{
		padding: 50px 0;
	}
	.home__title::before{
		font-size: 55px;
	}
	.home__item{
		padding: 50px 30px 20px 30px;
	}
	.home__desc{
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 23px;
	}
	.video__container{
		padding: 50px 0;
	}
	.video__title::before{
		font-size: 55px;
	}
	.footer__container{
		padding: 25px 0;
	}
	.footer__logo {
		margin-bottom: 30px;
	}
	.footer__socials {
		margin-top: 30px;
	}
	.copyright {
		padding: 20px 0;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 900px;
	}
	.header__phone p,
	.header__language p {
		font-size: 14px;
	}
	.slider__swarowski{
    	padding-top: 100px;
  	}
	.menu__items {
		display: none;
	}
	.burger {
		display: block;
		margin-left: auto;
	}
	.bot__container {
		padding: 10px 0;
	}
	.menu__items{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		text-align: center;
		background-color: black;
		opacity: 0.8;
	}
	.menu__item{
		margin-bottom: 10px;
	}
	.menu__link {
		color: #fff;
	}
	.active{
		display: block;
	}
	.left__text, .accessroies__eyes p, .accessories__hands p, .accessories__ear p {
    	font-size: 40px;
	}
	.left__image img {
    	width: 94%;
	}
	.accessories__hands {
    	margin-left: 15px;
    	margin-top: 0px;
	}
	.accessories__right {
		margin: 0;
	}
	.accessories__left {
		margin: 0;
	}
	.header__store {
		display: none;
	}
	.slider__logo img {
		margin: 0;
	}
	.slider__container {
		align-items: flex-start;
	}
	.top__container,
	.copyright,
	.video__container,
	.bot__container,
	.slider__container,
	.sale__container,
	.jewerly__container {
		margin: 0 20px;
	}
	.accessories__right-top {
		margin-right: 20px;
		margin-left: 20px;
	}
	.slick-dots {
		display: none;
	}
	.slider__logo img {
		width: 20%;
	}
	.slider__text {
		font-size: 20px;
		margin-top: 5px;
		line-height: 20px;
	}
	.new-collection__title::before, .view-all__link::before, .jewerly__title::before, .sale__title::before, .clock__title::before, .accessories__title::before, .decorations__title::before, .home__title::before, .video__title::before {
		font-size: 40px;
	}
	.title__cards {
		font-size: 30px;
	}
	.new-collection__items,
	.jewerly__items,
	.sale__items,
	.clock__items,
	.decorations__items,
	.home__items {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 10px;
	}
	.footer__logo {
    	width: 70%;
    	margin: 0 auto;
	}
	.copyright {
		font-size: 14px;
	}
	.new-collection__item img {
		height: 152px;
		width: 152px;
	}
	.jewerly__item img {
		height: 202px;
		width: 202px;
	}
	.sale__item img {
		height: 202px;
		width: 202px;
	}
	.clock__item > img {
		height: 152px;
		width: 152px;
	}
	.home__item img {
		height: 152px;
		width: 152px;
	}
	.decoration__item img {
    	width: 423px;
    	height: 120px;
	}
}
@media(max-width: 576px) {
		.top__container {
			padding: 10px 0;
		}
		.header__phone p, .header__language p {
			font-size: 8px;
		}
		.header__phone {
			margin-left: 10px;
		}
		.accessories__view {
			display: none;
		}
		.left__text, .accessroies__eyes p, .accessories__hands p, .accessories__ear p {
			font-size: 20px;
		}
		.accessories__ear img {
		    margin: 0 auto;
		}
		.left__image img {
			height: 100%;
		}
		.accessories__right {
    		width: 100%;
    		margin: 0;
		}
		.new-collection__container,
		.jewerly__container,
		.sale__container,
		.clock__container,
		.accessories__container,
		.decorations__container,
		.home__container,
		.video__container {
			padding: 15px 0;
			margin: 0 20px;
		}
		.new-collection__title::before, .view-all__link::before, .jewerly__title::before, .sale__title::before, .clock__title::before, .accessories__title::before, .decorations__title::before, .home__title::before, .video__title::before {
			font-size: 0;
		}
		.title__cards {
			font-size: 20px;
		}
		.new-collection__desc {
			margin: 10px;
			font-size: 14px;
		}
		.sale__buy {
			padding: 10px 0;
		}
		.view-all {
			font-size: 16px;
		}
		.accessories__right-top {
			flex-direction: column;
			align-items: center;
		}
		.accessories__hands {
			margin-left: 0;
			margin-top: 10px;
		}
		.accessories__right-bot {
			display: block;
		}
		.home__item {
			padding: 20px 15px 10px 15px;
		}
		.decoration__item {
			padding: 10px 20px;
		}
		.card {
			padding: 20px 20px 10px 20px;
		}
	}