@media (max-width: 1620px) {
	.top__container {
		padding: 30px 0;
	}
	.bot__container {
		padding: 20px 0;
	}
	.menu__item {
		font-size: 16px;
	}
	.slider__swarowski {
		padding-top: 160px;
	}
	.path__container {
		padding-top: 200px;
		padding-bottom: 0;
	}
	.sorting {
		padding: 0 0 30px 0;
	}
}


@media(max-width: 1400px) {
	.accessories__items {
		flex-direction: column;
		justify-content: center;
	}
	.accessories__items, .accessories__right-top, .accessories__right-bot {
    	display: flex;
    	justify-content: space-around;
    	margin-top: 40px;
	}
	/*.accessories__left {
	    margin: 0 auto;
	}*/
	.accessories__right {
		max-width: 100%;
	}
}
@media (max-width: 1200px){
	.container{
		/*max-width: 1000px;*/
		margin: 0 auto;
	}
	.header__logo {
		font-size: 20px;
	}
	.dispnone {
		display: none;
	}
	/*.card__flex {
		width: 33%;
	}*/
	.slider__swarowski{
    	padding-top: 150px;
  	}
  	.slick-dots {
    	bottom: 25px;
	}
	.top__container {
    	display: flex;
    	justify-content: space-between;
    	padding: 30px 0;
	}
	.header__logo {
	    width: 30%;
	    display: flex;
	    align-items: center;
	}
	.slider__logo {
		font-size: 60px;
	}
	.slider__text{
		font-size: 30px;
		margin-top: 20px;
	}
	.bot__container {
    	padding: 20px 0;
	}
	.menu__item{
		font-size: 14px;
	}
	.content {
		padding: 50px 0;
	}
	.title__cards{
		margin-bottom: 30px;
	}
	.title__cards {
		font-size: 40px;
	}
	.new-collection__title::before{
		font-size: 55px;
	}
	.card{
		padding: 30px 30px 15px 30px;
	}
	.new-collection__desc {
		margin: 20px 0;
		font-size: 16px;
	}

	.jewerly__title::before{
		font-size: 55px;
	}
	.jewerly__desc{
		padding: 20px 40px;
		font-size: 16px;
	}

	.sale__title::before{
		font-size: 55px;
	}
	.sale__desc{
		font-size: 16px;
		padding: 20px 40px;
	}

	.clock__title::before{
		font-size: 55px;
	}
	.clock__desc{
		font-size: 16px;
		padding: 20px 0;
	}
	.accessories__title::before{
		font-size: 55px;
	}
	.accessories__items {
		flex-direction: column;
	}
	.left__image {
	    display: flex;
	    justify-content: center;
	    max-width: 500px;
		margin: 0 auto;
	}
	.left__text,
	.accessroies__eyes p,
	.accessories__hands p,
	.accessories__ear p {
		font-size: 55px;
	}

	.accessories__right-top{
		margin-top: 30px;
		justify-content: space-around;
	}
	.accessories__right-bot{
		justify-content: space-around;
	}
	.accessories__view{
		margin-left: 0;
	}
	.accessories__right-bot{
		margin-top: 30px;
	}
	.accessories__right-top::after{
		bottom: -17px;
	}

	.decoration__item{
		padding: 20px 40px;
	}
	.decorations__desc{
		font-size: 16px;
		margin-top: 32px;
		margin-bottom: 22px;
	}
	.decorations__title::before{
		font-size: 55px;
	}

	.home__title::before{
		font-size: 55px;
	}
	.home__item{
		padding: 50px 30px 20px 30px;
	}
	.home__desc{
		font-size: 16px;
		margin-top: 10px;
		margin-bottom: 23px;
	}

	.video__title::before{
		font-size: 55px;
	}
	.footer__container{
		padding: 25px 0;
	}
	.footer__logo {
		margin-bottom: 30px;
	}
	.footer__socials {
		margin-top: 30px;
	}
	.copyright {
		padding: 20px 0;
	}
	.path__container {
		padding-top: 200px;
		padding-bottom: 20px;
	}
	.contacts__container {
    	padding: 50px 0 0 0;
	}

	.feedback__commentary {
		margin-top: 30px;
	}
	.contacts__info a {
		font-size: 14px;
	}
	.small-images {
   		display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	margin-top: 20px;
	}
	.small-images img {
    	width: 33%;
	}
	.small-images img:last-child{
		display: none;
	}
	.about-item__images {
    	flex-direction: column-reverse;
    	justify-content: space-between;
    	height: 100%;
	}
	.big-images {
    	margin-left: 0; 
	}
	.buy__item {
	    padding: 10px 100px;
	    background: #F2A6B6;
	    border: 1px solid #A06593;
	    font-family: Montserrat;
	    font-size: 20px;
	    font-style: normal;
	    font-weight: 500;
	    line-height: 25px;
	    letter-spacing: 0em;
	}
	.product__body td {
		padding: 10px 0;
	}
	.product__head th {
		padding-bottom: 10px;
	}
	.product__name h2 {
		font-size: 28px;
	}
	.product__size-color p, .product__count p, .product__price p, .product__summ p, .product__name p {
		font-size: 16px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 900px;
	}
	.top__container {
		padding: 15px 0;
	}
	.header__info {
		display: none;
	}
	.displaynone {
		display: block;
	}
	.header__search {
		width: 70%;
	}
	.menu__item:nth-child(2) {
		display: none;
	}
	.header__phone {
		display: none;
	}
	.card__flex{
		width: 32%;
	}
	.card__flex {
		margin-right: 2%;
	}
	.card__flex:nth-child(4n) {
    margin-right: 2%;
	}
	.card__flex:nth-child(3n) {
    margin-right: 0;
	}
	.header__phone p,
	.header__language p {
		font-size: 14px;
	}
	.slider__swarowski{
    	padding-top: 70px;
  	}
  	.slider__logo {
  		font-size: 60px;
  	}
  	.slider__logo, .slider__text{
  		margin-top: 0;
  		margin-left: 50px;
  	}
  	.slick-dots {
		display: none;
	}
	.slider__text {
		font-size: 28px;
		margin-top: 5px;
		line-height: 20px;
	}
	.slick-dots {
    	bottom: 20px;
	}
	.slider__container {
		align-items: flex-start;
	}
	.menu__items {
		display: none;
	}
	.burger {
		display: block;
		margin-left: 20px;
	}
	.bot__container {
		padding: 0;
	}
	.nav__menu ul {
		padding: 20px;
	}
	.menu__items{
		position: absolute;
		top: 0;
		right: 0;
		width: 350px;
		text-align: center;
		background-color: black;
		opacity: 0.8;
	}
	.menu__item{
		margin-bottom: 10px;
	}
	.menu__item:first-child {
		margin-bottom: 20px;
	}
	.menu__item:nth-child(2) {
		margin-bottom: 20px;
	}
	.searchimg {
		padding: 5px;
		border: 1px solid #fff;
    	border-radius: 20%;
	}
	.lang__link {
		color: #fff;
		margin: 0 10px 0 10px;
		padding: 5px;
	}
	.active-lang {
		background: none;
		color: pink;
		border: 1px solid pink;
	}
	.menu__link {
		color: #fff;
	}
	.menu__items.active{
		display: block;
	}

	.left__text, .accessroies__eyes p, .accessories__hands p, .accessories__ear p {
    	font-size: 40px;
	}
	.left__image img {
    	width: 94%;
	}
	.accessories__hands {
    	margin-left: 15px;
    	margin-top: 0px;
	}
	.accessories__right {
		margin: 0;
	}
	.accessories__left {
		margin: 0;
	}

	.header__basket {
		margin-left: 20px;
	}
	.accessories__right-top {
		margin-right: 20px;
		margin-left: 20px;
	}
	.title__cards {
		font-size: 30px;
	}
	.footer__logo {
    	width: 70%;
    	margin: 0 auto;
	}
	.footer__logo {
		margin-bottom: 20px;
	}
	.menu__items-footer {
		display: block;
		text-align: center;
		margin-top: 60px;
	}
	.item-foot{
		color: #353A4B;
	}
	.copyright {
		font-size: 14px;
	}
	.contacts__info {
		flex-direction: column;
		align-items: flex-start;
	}
	.contacts__info div {
		margin-top: 15px;
	}
	.feedback__name {
		margin-right: 0;
	}
	.feedback__data {
		display: block
	}
	.feedback__name, .feedback__phone {
		width: 100%;
	}
	.input__phone {
		margin-top: 30px;
	}
	.about-item__content {
    	display: block;
	}
	.big-images img {
    	width: 100%;
	}
	.about-item__specification {
		margin-top: 20px;
    	margin-left: 0;
	}
	.about-item__name {
		margin-top: 25px;
	}
	.description-item__container {
		padding: 50px 0;
	}
	.characters-name p,
	.characters-data p{
		font-size: 18px;
		margin-bottom: 8px;
	}
	.about-item__characters {
		margin-top: 25px;
	}
	.small-images img {
    	max-width: 30%;
	}
	.about-item__preview {
		width: 100%;
	}
	.js-cart-item{
		display: flex;
		flex-direction: column;
	}
}
@media(max-width: 776px) {
	.header__logo {
		font-size: 16px;
	}
	.slider__logo {
		font-size: 40px;
	}
	.slider__text {
		font-size: 20px;
	}
	.header__phone p {
		display: none;
	}
	.header__phone {
		margin-left: 10px;
	}
	.card__flex {
		width: 49%;
	}
	.card__flex {
		margin-right: 0;
	}
	.card__flex:nth-child(4n) {
		margin-right: 0;
	}
	.blockflex {
		justify-content: space-between;
	}
	.formsearch {
		display: none;
	}
	.menu__items {
		top: -76%;
	}
	.menu__item:nth-child(2) {
		display: block;
	}
}
@media(max-width: 576px) {
		.slider__logo {
			font-size: 28px;
			margin: 0;
		}
		.slider__text {
			margin: 0;
		}
		.slider__swarowski {
			padding-top: 60px;
		}
		.slick-slide img {
			height: 25vh;
		}
		.card__flex {
			width: 100%;
		}
		.top__container {
			padding: 10px 0;
		}
		.header__phone p, .header__language p {
			font-size: 8px;
		}
		.header__phone {
			margin-left: 10px;
		}
		.accessories__view {
			display: none;
		}
		.left__text, .accessroies__eyes p, .accessories__hands p, .accessories__ear p {
			font-size: 20px;
		}
		.accessories__ear img {
		    margin: 0 auto;
		}
		.left__image img {
			height: 100%;
		}
		/*.content {
			padding: 0 ;
		}*/
		.title__cards span {
			font-size: 0;
		}
		.title__cards {
			font-size: 20px;
		}
		.new-collection__desc {
			margin: 10px;
			font-size: 14px;
		}
		.sale__buy {
			padding: 10px 0;
		}
		.view-all {
			font-size: 16px;
		}
		.accessories__right-top {
			flex-direction: column;
			align-items: center;
		}
		.accessories__hands {
			margin-left: 0;
			margin-top: 10px;
		}
		.accessories__right-bot {
			display: block;
		}
		.home__item {
			padding: 20px 15px 10px 15px;
		}
		.decoration__item {
			padding: 10px 20px;
		}
		.card {
			padding: 20px 20px 10px 20px;
		}
		.path__container{
			padding-top: 130px;
			padding-bottom: 0;
		}
		.contacts__container {
			padding-top: 30px;
		}
		.gismap {
			height: 200px;
		}
		.copyright {
			flex-direction: column;
		}
		.createviastana {
			margin-top: 15px;
		}
		.about-item__buy {
			flex-direction: column;
			align-items: flex-start;
		}
		.about-item__buy-icon {
			margin-top: 10px;
			width: 97%;
		}
		.busket__item, .link__item {
			margin: 0;
		}
		.about-item__characters {
			margin: 0;
		}
	}