

.header {
	position: fixed;
	width: 100%;
	z-index: 999;
	background: #fff;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.top__container{
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
}
.header__top{
	border-bottom: 1px solid rgba(53, 58, 75, 0.26);
}
.displayflex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.select-language {
	border: none;
	cursor: pointer;
	margin-left: 10px;
}
.header__language p{
	margin: 0 10px;
	font-family: Montserrat;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
	color: #353A4B;
}

.header__phone{
	margin-left: 50px;
}

.header__phone p{
	margin-left: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	color: #353A4B;
}

.header__search{
	width: 224px;
	border: none;
	border-bottom: 1px solid rgba(53, 58, 75, 0.68);
}

.header__basket{
	display: inherit;
	margin-left: 50px;
}

.bot__container{
	padding: 28px 0;
}

.menu__items{
	display: flex;
	justify-content: space-between;
}

.menu__item{
	font-family: Montserrat;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #353A4B;
}

.menu__item:hover {
    text-shadow:1px 0px 0px black;
  	transition: 0.3s text-shadow;
}
.slider__swarowski{
    	padding-top: 220px;
  	}
.slider__swarowski{
	width: auto;
}
.slider__item > img{
	
}
.slider__item {
	position: relative;
    width: 100%;
}

.slider__container{
	display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.slick-slide img{
	width: 100%;
}

.slider__item{
	position: relative;
}

.slider__text{
	margin-top: 40px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 61.2941px;
	line-height: 58px;
	color: #353A4B;
}

.slider__swarowski{
	overflow-x: hidden;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots{
	bottom: 100px;
}

.slick-dots {
	font-size:0;
	padding:0;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px 60px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button:before{
	font-family: Playfair Display;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #FFFFFF;
}
.slick-dots li:nth-child(1) button:before{
	content: "01";
}
.slick-dots li:nth-child(2) button:before{
	content: "03";
}
.slick-dots li:nth-child(3) button:before{
	content: "04";
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: grey;
}

.slick-dots li:nth-child(1) button:after{
	position: absolute;
	content: '';
	width: 90px;
	height: 2px;
	background-color: #FFFFFF;
	top: 20px;
    left: 36px;
	border-radius: 70%;
}

.slick-dots li:nth-child(2) button:after{
	position: absolute;
	content: '';
	width: 90px;
	height: 2px;
	background-color: #FFFFFF;
	top: 20px;
    left: 36px;
	border-radius: 70%;
}
.content {
	padding: 100px 0;
}

.new-collection__title{
	position: relative;
}
.new-collection__title::before{
	position: absolute;
	content: "Новые коллекции";
	bottom: 20%;
	left: 30%;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	line-height: 70px;
	color: #B995B1;
	opacity: 0.15;
	z-index: -999;
}
.new-collection__item img {
	width: 264px;
	height: 258px;
}
.title__cards {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 44px;  
	color: #353A4B;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 0.04em;
}

.new-collection__items{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    grid-gap: 20px;
}

.card {
	padding: 40px 40px 20px 40px
}
.card__flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card:hover{
	
}
.card img{
	margin: 0 auto;
	width: 100%;
}

.new-collection__desc {
	margin: 30px 0;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.04em;
	color: #353A4B;
}

.new-collection__price p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	display: flex;
	align-items: flex-end;
	letter-spacing: 0.04em;
	color: #333333;
}

.buy{
	border: none;
	cursor: pointer;
}

.view-all{
	display: flex;
    justify-content: center;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	margin-top: 30px;
}

.view-all__link{
	position: relative;
	text-align: center;
}
.view-all__link::before{
	position: absolute;
	content: '';
	width: 100%;
	height: 15px;
	background-color: #FFF;
	top: 25px;
	left: 0;
	transition: .8s;
}
.view-all__link:hover::before{
	left: 150px;
}

.jewerly__title{
	position: relative;
}
.jewerly__title::before {
    position: absolute;
    content: "Категории ювелирных изделий";
    bottom: 20%;
    left: 16%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.jewerly__items{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 20px;
}
.jewerly__item img {
	width: 390px;
	height: 321px;
    margin: 0 auto;
    padding-top: 10px;
}


.jewerly__desc{
	padding: 30px 50px;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #353A4B;
}

.jewerly__item:hover{
	box-shadow: 7px 7px 10px 4px rgba(34, 60, 80, 0.18);
	transition: .2s;
}

.sale__title{
	position: relative;
}
.sale__title::before {
    position: absolute;
    content: "Распродажа";
    bottom: 20%;
    left: 37%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.sale__items {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 20px;
}
.sale__item img{
	width: 264px;
	height: 264px;
	margin: 0 auto;
	margin-top: 40px;
}

.sale__desc{
	padding: 30px 60px;
	text-align: center;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	color: #5A5E6B;
}

.sale__buy {
	width: 100%;
	border: none;
	cursor: pointer;
	background: #B995B1;
	border-radius: 2px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 25px;
	padding: 20px 0;
	color: #FFFFFF;
}

.sale__buy:hover{
	background: #FFF;
	outline: 1px solid #B995B1;
	outline-radius: 2px;
	color: #B995B1;
	transition: .5s;
}


.clock__title{
	position: relative;
}
.clock__title::before {
    position: absolute;
    content: "Часы";
    bottom: 20%;
    left: 44%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.clock__items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
	grid-gap: 20px;
}
.clock__item > img {
	width: 286px;
	height: 286px;
}
.clock__desc{
	padding: 30px 0;
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	color: #353A4B;
	text-align: center;
}

.clock__price p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	color: #333333;
}


.accessories__title{
	position: relative;
}
.accessories__title::before {
    position: absolute;
    content: "Акссессуары";
    bottom: 20%;
    left: 37%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.left__image {
	display: flex;
    max-width: 683px;
    height: 100%;
}
/*.accessories__right{
	width: 49%;
}*/

/*.left__image img{
	width: 683px;
}*/

.accessroies__eyes img {
	width: 557px;
	/*height: 289px;*/
}
.accessories__hands img {
	width:  320px;
	/*height: 289px;*/
}
.accessories__ear img {
	width: 320px;
	/*height: 294px;*/
}
.accessories__items,
.accessories__right-top,
.accessories__right-bot{
	display: flex;
}

.accessories__left,
.accessroies__eyes,
.accessories__hands,
.accessories__ear{
	position: relative;
}

/*.accessories__left{
	margin-right: auto;
}*/
/*.left__image img {
	max-width: 638px;
	max-height: 628px;
}*/
.accessories__right {
	width: 59%;
	margin-left: 30px;
}

.left__text,
.accessroies__eyes p,
.accessories__ear p,
.accessories__hands p{
	position: absolute;
	top: 50%;
	left: 0;
    right: 0;
    text-align: center;
    transform: translate(0, -50%);
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 400;
	font-size: 72px;
	line-height: 60px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.accessories__hands{
	margin-left: 30px;
}
.accessories__right-bot{
	margin-top: 45px;
}
.accessories__view{
	display: flex;
    align-items: center;
    margin-left: 177px;
}

.accessories__left::before{
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #B995B1;
	top: -15px;
}

.accessories__right-top{
	position: relative;
}

.accessories__right-top::before,
.accessories__right-top::after{
	content: "";
	position: absolute;
	width: 100%;
	border: 1px solid #B995B1;
}

.accessories__right-top::before{
	top: -15px;
}
.accessories__right-top::after{
	bottom: -30px;
}
.accessories__left:hover,
.accessroies__eyes:hover,
.accessories__hands:hover,
.accessories__ear:hover{
	box-shadow: 7px 7px 10px 4px rgba(34, 60, 80, 0.18);
	transition: .2s;
}

.accessories__link{
	position: relative;
	padding: 90px 30px;
	border: 1px solid black;
	border-radius: 100%;
	font-family: Playfair Display;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.04em;
}

.accessories__link::before{
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	background-color: #fff;
	top: 0;
	right: 38px;
    animation: moving 3s infinite linear;
    transform-origin: -40px 100px;
    border-radius: 100%;
}


@keyframes moving {
    100% {transform: rotate(-360deg);}
}

.accessories__link::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60%;
	left: 10%;
	background: url('../images/Vector.svg') no-repeat;
	animation: blick 3s linear infinite;
}

@keyframes blick{
	0%{opacity: 1;}
	25%{opacity: 0.5;}
	50%{opacity: 0.0;}
	75%{opacity: 0.5}
	100%{opacity: 1}
}

.decorations__title{
	position: relative;
}
.decorations__title::before {
    position: absolute;
    content: "Украшения";
    bottom: 20%;
    left: 38%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.decorations__items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
	grid-gap: 20px; 
}
.decoration__item{
	padding: 30px 50px;
}
.decoration__item img {
	width: 270px;
	height: 270px;
}
.decoration__item:hover{
	box-shadow: 7px 7px 10px 4px rgba(34, 60, 80, 0.18);
	transition: .2s;
}
.decoration__item img{
	margin: 0 auto;
}

.decorations__desc{
	margin-top: 42px;
	margin-bottom: 32px;
	font-family: Playfair Display;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0.04em;
}

.decorations__price  p{
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.04em;
}


.home__title{
	position: relative;
}
.home__title::before {
    position: absolute;
    content: "Всё для дома";
    bottom: 20%;
    left: 37%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.home__items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
	grid-gap: 20px;
}
.home__item{
	padding: 70px 40px 30px 40px;
}
.home__item:hover{
	box-shadow: 7px 7px 10px 4px rgba(34, 60, 80, 0.18);
	transition: .2s;
}
.home__item img {
	width: 316px;
	height: 259px;
	margin: 0 auto;
}

.home__desc{
	font-family: Playfair Display;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0.04em;
	margin-top: 16px;
	margin-bottom: 33px;
}

.home__price{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	color: #333333;
}


.video__title{
	position: relative;
}
.video__title::before {
    position: absolute;
    content: "Откройте для себя Swarovski Swan";
    bottom: 20%;
    left: 14%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: #B995B1;
    opacity: 0.15;
    z-index: -999;
}
.footer__border {
	border-top: 1px solid #5A5E6B;
	border-bottom: 1px solid #5A5E6B;
}
.footer__container{
	padding: 50px 0;
}

.footer__logo{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.copyright{
	padding: 50px 0;
	font-family: Uk_Antique;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0em;
}

.footer__socials{
	display: flex;
	justify-content: center;
	margin-top: 45px;
}

.footer__inst{
	margin: 0 30px;
}

.createviastana {
    text-align: right;
}


/*-----------------------------------burger---------------------------------*/


.burger{
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../images/burger.svg) no-repeat;
	background-size: contain;
	transition: .3s;
}

.burger_active{
	width: 40px;
	height: 40px;
	background: url(../images/close.svg) no-repeat;
	background-size: contain;
	transition: .3s;
}


/*-----------------------------------burger---------------------------------*/

.new-collection__title::before,
.view-all__link::before,
.jewerly__title::before,
.sale__title::before,
.clock__title::before,
.accessories__title::before,
.decorations__title::before,
.home__title::before,
.video__title::before {
	left: 0;
	right: 0;
}


.path__container {
	padding-top: 280px;
	padding-bottom: 40px;
}

.path__main {
	position: relative;
	font-family: Playfair Display;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.04em;
}
.path__main::before {
	position: absolute;
	content: "";
	width: 0;
	bottom: 0;
	height: 1px;
	background-color: #000000;
	transition: .5s;
}
.path__main:hover::before{
	width: 100%;
}

.path__here {
	font-family: Playfair Display;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.04em;
}

.sale__buy-page {
	background-color: #FFFFFF;
	color: #353A4B;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.04em;
}

.sale__buy-page:hover{
	outline-color: #353A4B;
	color: #353A4B;
}

.sorting {
	padding: 50px 0 30px 0;
}

.sorting-box {
	display: flex;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;

	color: #353A4B;
}

.sorting-text {
	margin-right: 10px;
}
.sorting-select {
	cursor: pointer;
}

.page__items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.page__items a{
	margin-right: 20px;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.04em;
}

.next {
	font-size: 20px;
	line-height: 28px;
	color: #787C8B;
}

.jewerly__buy {
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
}

.card__items {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 20px;
}

.card__desc {
	padding: 30px 0;
	text-align: center;
	font-family: Playfair Display;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
}

.card__price {
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 25px;
	padding: 0 30px 35px 30px;
}

.card__item:hover {
	box-shadow: 7px 7px 10px 4px rgba(34, 60, 80, 0.18);
	transition: .2s;
}

.contacts__container {
	padding: 100px 0 30px 0;
}

.contacts__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts__phone,
.contacts__street,
.contacts__email {
	display: flex;
	align-items: center;
}

.contacts__info a{
	margin-left: 15px;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}

.feedback__form {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
}
.feedback__data {
    display: flex;
    text-align: left;
}
.feedback__name,
.feedback__phone {
	height: 59px;
	width: 408px;
}
.feedback__name{
	margin-right: 50px;
}
.feedback__phone,
.feedback__name,
.feedback__area {
	position: relative;
	background: #FFFFFF;
	border: 0.5px solid #949494;
	box-sizing: border-box;
	border-radius: 4px;
}

.feedback__commentary {
	margin-top: 60px;
	text-align: left;
}

.feedback__area {
	width: 100%;
	min-height: 110px;
	resize: vertical;
}

.feedback__send {
	margin-top: 30px;
	padding: 20px 115px;
	cursor: pointer;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	background: #A06593;
	border: none;
	color: #FFFFFF;
	transition: .5s;
}

.feedback__send:hover {
	background: #FFF;
	color: #A06593;
	outline: 1px solid #A06593;
}

.contacts__title {
	position: relative;
}

.contacts__title::before {
    position: absolute;
    content: "Контакты";
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: rgb(185, 149, 177);
    opacity: 0.15;
    z-index: -999;
}

.feedback__title {
	position: relative;
}

.feedback__title::before {
    position: absolute;
    content: "Обратная связь";
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    color: rgb(185, 149, 177);
    opacity: 0.15;
    z-index: -999;
}

.about-item__images {
	display: flex;
	height: 100%;
}
.about-item__images div{
	cursor: pointer;
}

.small-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-item__preview {
    width: 55%;
}
.big-images {
	margin-left: 30px;
}
.big-images img {
    width: 100%;
    height: 100%;
}
.big-images {
	width: 100%;
}

.about-item__container {
	padding: 50px 0 100px 0;
}

.about-item__content {
	display: flex;
}

.about-item__specification {
	display: flex;
	margin-left: 30px;
}
.about-item__description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.about-item__header {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #787C8B;
}

.about-item__name {
	margin-top: 50px;
	font-family: Playfair Display;
	font-size: 36px;
	line-height: 30px;
}

.about-item__text {
	margin-top: 16px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 25px;
}

.about-item__price {
	margin-top: 16px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
}

.color-text {
	margin-top: 30px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 23px;
	letter-spacing: 0em;
}

.about-item__color {
	display: flex;
}

.color__item {
	margin-top: 16px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.about-item__manual {
	display: flex;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
}

.about-item__manual img {
	margin-left: 10px;
}

.about-item__buy {
	display: flex;
	align-items: center;
	margin-top: 33px;
}

.buy__item {
	padding: 12px 169px;
	background: #F2A6B6;
	border: 1px solid #A06593;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
}

.busket__item,
.link__item {
	margin-left: 30px;
}

.about-item__characters {
	display: flex;
	text-align: left;
	margin-top: 50px;
}

.characters-name p,
.characters-data p{
	margin-bottom: 27px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
}
.characters-data p{
	font-weight: 400;
}
.characters-name p:last-child,
.characters-data p:last-child {
    margin-bottom: 0;
}

.description-item__container {
	padding: 150px 150px;
}
.desctiption-item__content {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.description-item__title {
	margin-bottom: 30px;
}

.description-item__text {
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
}


.elem-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 30px 0;
	border-bottom: 1px solid #D8D8D8;
}

.faq__elem:first-child{
	border-top: 1px solid #D8D8D8;
}

.elem-top p{
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
}

.elem-bot {
	display: none;
}
.active_text{
	display: block;
}
.arrow_rotate {
	transform: rotate(90deg);
	transition: .5s;
}


/*busket*/

.product {
	width: 100%;
	border-collapse: collapse;
}

.product__head th {
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	padding-bottom: 30px;
}
.product__head th:first-child {
	text-align: left;
	width: 13%;
}

.product__body td {
	text-align: center;
}

.product__item td:nth-child(2) {
	text-align: left;
}

.product__title img{
	width: 150px;
	height: 150px;
}
a.remove img {
    margin: 0 auto;
}
.product__body tr{
	border: none;
  	border-top: 1px solid #D8D8D8;;
  	border-bottom: 1px solid #D8D8D8;;
}

.product__name h2 {
	font-family: Playfair Display;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
}
.product__size-color p,
.product__count p,
.product__price p,
.product__summ p,
.product__name p {
	margin-top:  18px;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
}

.product__summ p{
	font-weight: 600;
}

.bucket__container {
	padding: 50px 0;
}